/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #fff;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    width: 100%; /* Full width */
    height: 46px;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #4e5059;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.settings {
    overflow: hidden;
    background-color: #fff;
    position:fixed;
    top: 0;
    right: 0;
    width: 8%;
    height: 46px;
}

.settings a {
    float: right;
    display: block;
    color: #4e5059;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}



/* Change background on mouse-over */
.navbar a:hover {
     background: #8298ff;
     color: white;
     border: 4px solid white;
     border-radius: 25px;
     padding: 10px 12px;
}

.background {
    overflow: hidden;
    background: linear-gradient(to right, #8298ff, #8DC26F);
    position: fixed;
    top: 1;
    left: 0;
    width: 100%;
    height: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
    background: #fff;
    height: 42px;
}

.dropdown-content {
    display: none;
    overflow: hidden;
    background: white;
    color: #4e5059;
    top: 0;
    left: 0
    width: 100%;
    z-index: 1;
    height: 10px;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
    height: 42px;
}

.dropdown-content:hover .dropdown {
    background: white;
    color: #8298ff;
}

/* Main content */
/*.main {
    margin-top: 50px;
}*/

.body {
    display: block;
    position: fixed;
    background-color: white;
    border-radius: 25px;
    color: #4e5059;
    top: 100px;
    left: 70px;
    width: 500px;
    height: 500px;
}

.form {
    position: relative;
    top: 30px;
    left: 30px;
}

.text {
    position: relative;
    top: 30px;
    left: 30px;
}

.sidebar {
    display: block;
    position: fixed;
    top: 100px;
    left: 70px;
    width: 200px;
    height: 500px;
}

.profile-image {
    overflow:hidden;
    display: block;
    position: relative;
    background-color: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.profile-description {
    display: block;
    position: relative;
    background-color: white;
    border-radius: 25px;
    color: #4e5059;
    top: 25px;
    width: 200px;
    height: 275px;
}

.icon {
    overflow:hidden;
    display: block;
    position: relative;
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {

    position: fixed;
    border-radius: 25px;
    top: 80px;
    left: 670px;
    width: 600px;
    height: 500px;

      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }

//vars

@blue: #626E7E;
@light: lighten(@blue, 40%);
@light2: darken(@light, 3%);

table{
  font-family:sans-serif;
          width: 100%;
          border-spacing: 0;
        border-collapse: separate;
          table-layout: fixed;
          margin-bottom: 50px;

          thead{
                tr{
                      th{
                            background: @blue;
                            color: @light;
                            padding: 0.5em;
                            overflow: hidden;

                            &:first-child{
                                  border-radius:3px 0 0 0;
                            } 
                            &:last-child{
                                  border-radius:0 3px  0 0;
                            }

                            .day{
                                  display: block;
                                  font-size: 1.2em;
                                  border-radius: 50%;
                                    width: 30px;
                                height: 30px;
                                  margin: 0 auto 5px;
                                  padding: 5px;
          line-height: 1.8;

                                    &.active{
                                          background: @light;
                                          color: @blue;
                                    }
                            }

                            .short{
                                  display: none;
                            }

                            i{
                                vertical-align: middle;
                                  font-size: 2em;
                            }
                      }
                }
          }
          tbody{
                tr{
                      background: @light;

                        &:nth-child(odd){
                                background:@light2;
                        }
                          &:nth-child(4n+0){
                                td{
                                      border-bottom:1px solid @blue;
                                }
                          }
                      td{
                            text-align: center;
                            vertical-align: middle;
                            border-left: 1px solid @blue;
                            position: relative;
                            height: 32px;
                            cursor: pointer;

                            &:last-child{
                                  border-right:1px solid @blue;
                            }
        &.hour{
                                  font-size: 2em;
                                  padding: 0;
                                  color: @blue;
                                  background:#fff;
                                border-bottom:1px solid @blue;
                                  border-collapse: separate;
                                  min-width: 100px;
                                  cursor: default;

                                span{
                                        display: block;

                                }
                            }   
                      }
                }
          }

        @media(max-width:60em){

                thead{
                      tr{
                            th{
                                  .long{
                                        display: none;
                                  }

                                .short{
                                        display: block;
                                  }

                            }
                      }
                }

                tbody{
                      tr{
                            td{
                                  &.hour{
                                        span{
                                              transform:rotate(270deg);
              -webkit-transform:rotate(270deg);
              -moz-transform:rotate(270deg);
                                        }
                                  }
                }
                      }
                }
          }

        @media(max-width:27em){
                thead{
                      tr{
                            th{
                                  font-size: 65%;
                                  .day{
                                        display: block;
                                        font-size: 1.2em;
                                        border-radius: 50%;
                                                    width: 20px;
                                        height: 20px;
                                        margin: 0 auto 5px;
                                        padding: 5px;

                                        &.active{
                                            background: @light;
                                              color: @blue;
                                        }
                                  }
                            }
                      }
                }
                tbody{
                      tr{
                            td{
                                  &.hour{
                                        font-size: 1.7em;
                                        span{
                                          transform:translateY(16px)rotate(270deg);
              -webkit-transform:translateY(16px)rotate(270deg);
              -moz-transform:translateY(16px)rotate(270deg);
                                        }
                                  }
            }
                      }
                }
          }
    }




